#speech{
    color:black;
font-size: 15px;
font-family: sans-serif;}

h5 {
    color: cadetblue;
}

#StageDirection{
    background-color:lightseagreen ;
    color:black;
    font-size: 15px;
    font-family:sans-serif;
}

#StageDirection:hover{
    background-color:lightgreen ;
    color:blue;
}
