#speech{
    color:black;
font-size: 15px;
font-family: sans-serif;}

h5 {
    font-size: 16px;
    color: cadetblue;
}

#StageDirection{
    background-color:lightseagreen ;
    color:black;
    font-size: 15px;
    font-family:sans-serif;
}

#StageDirection:hover{
    background-color:lightgreen ;
    color:blue;
}


table{border: 1px solid black;
padding: 5px;
margin: 20px;
}

table.collapsing{
    border-collapse : collapse;}


td,th{border: solid 1px;
text-align: center;}
tr:nth-child(odd){background-color: turquoise;}